{% extends 'base.html' %}


{% block siteStyle %}
<link type="text/css" rel="stylesheet" href="/static/stylesheets/blog_post_style.css" />
{% endblock siteStyle %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="post-content mdl-color--grey-300 mdl-shadow--4dp content mdl-color-text--black mdl-cell mdl-cell--8-col mdl-grid">
    <div class="mdl-cell mdl-cell--12-col title">
        <h2>{{ post.title }}</h2>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <img class="post-img img-responsive" src="/static/images/article_images/{{ post.image }}.jpg" alt="agriculture" align="left">
         <p>
            {{ post.content|safe }}
        </p>
    </div>
    <div class="mdl-cell mdl-cell--10-col">

        <p>Author: {{ post.user.username }}<br>Date: {{ post.created.date() }}</p>
        <span class="mdl-badge " data-badge="{{ post.votes }}">Votes</span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-grid">
        <div class="mdl-cell mdl-cell--12-col-desktop">
            {%  if user and post.user.key().id() ==  user.key().id()  %}
            <a href="/edit/{{ post.key().id() }}">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
              <i class="material-icons">build</i>
            </button>
            </a>
        {% endif %}
        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop">
             <a href="/downvote/{{ post.key().id() }}">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                  <i class="material-icons">thumb_down</i>
                </button>
            </a>
          <a href="/upvote/{{ post.key().id() }}">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                  <i class="material-icons">thumb_up</i>
                </button>
            </a>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col new_section">
    </div>

    <!-- MDL template Comment section -->
        {% if user %}
        <form class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--2-offset-tablet mdl-cell--10-col mdl-grid" method="post">

                <div class=" mdl-cell mdl-cell--10-col mdl-cell--4-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <textarea rows=1 class="mdl-textfield__input" id="comment" name="comment_text"></textarea>
                  <label for="comment" class="mdl-textfield__label">Join the discussion</label>
                </div>
            <br>
                <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--middle">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                  <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
                </button>
                </div>
        </form>
        {% endif %}

        <div class="mdl-cell mdl-cell--12-col mdl-grid">
            {% for comment in comments %}
                <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                    <img src="/static/images/profile_img/users-{{ range(1, 16) | random }}.svg" class="avatar"><br>
                {{ comment.user.username }} <br>
                {{ comment.created.date() }} <br>
                {{ comment.created.hour }}:{{ comment.created.minute }}

                </div>
                <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--bottom">
                    <p>{{ comment.comment }}</p>
                </div>
                <div class="mdl-cell--12-col new_section">

                </div>



            {% endfor %}
        </div>

        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>


        {% if comments and comments.count() > 0 %}
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">





        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        {% endif %}
</div>
{% endblock content %}