{% extends 'base.html' %}

{% block content %}
<div class="mdl-grid">
    <form method="post" class="mdl-cell mdl-cell--12-col mdl-shadow--4dp content mdl-color--grey-300 mdl-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset-desktop">
        <h1>Write your article.</h1>
    </div>
    <div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset-desktop">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="post_title" name="post_title" value="{% if post %}{{ post.title }}{% endif %}">
                <label class="mdl-textfield__label" for="post_title">Title</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset-desktop">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="post_image" name="post_image" value="{% if post %}{{ post.image }}{% endif %}">
                <label class="mdl-textfield__label" for="post_image">Image</label>
            </div>
    </div>
    <div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset-desktop">
            <div class="mdl-textfield mdl-js-textfield" style="width: 100%">
                <textarea class="mdl-textfield__input" type="text" rows= "10" id="post_content" name="post_content">{% if post %}{{ post.content }}{% endif %}</textarea>
                <label class="mdl-textfield__label" for="post_content">Content</label>
            </div>
    </div>

    <div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset-desktop">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Save
                </button>
    </div>









    </form>
</div>
{% endblock content %}